.navbar {
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.navbar .logo {
    width: 190px;
    height: 70px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(4, 136, 61);
    font-size: 18px;
    margin: auto;
    margin-top: 30px;

}

.navbar-right {
    display: flex;
    margin-right: auto;
    margin: 2px;
}






.navbar button {
    background: rgb(4, 136, 61);
    font-size: 14px;
    color: #fcfdff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;

}

.navbar button:hover {
    background-color: #cbc9c9;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(4, 136, 61);
}

.navbar li {
    cursor: pointer;
}


